* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope', 'Noto Sans', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f7f6;
  color: #1f2937;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #221c10;
    color: #ffffff;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}